#souths {
  color: #4e79a7;
  font-size: 13px;
}
#roosters {
  color: #f28e2c;
  font-size: 13px;
}
#george {
  color: #e15759;
  font-size: 13px;
}
#balmain {
  color: #76b7b2;
  font-size: 13px;
}
#manly {
  color: #59a14f;
  font-size: 13px;
}
#canterbury {
  color: #edc949;
  font-size: 13px;
}
#broncos {
  color: #e15759;
  font-size: 13px;
}
#magpies {
  color: #af7aa1;
  font-size: 13px;
}
#eels {
  color: #9c755f;
  font-size: 13px;
}
#jets {
  color: #bab0ab;
  font-size: 13px;
}
#storm {
  color: #253a50;
  font-size: 13px;
}
#raiders {
  color: #954f09;
  font-size: 13px;
}
#bears {
  color: #9d1c1e;
  font-size: 13px;
}
#panthers {
  color: #3c726e;
  font-size: 13px;
}
#knights {
  color: #2a4b25;
  font-size: 13px;
}
#sharkies {
  color: #a68510;
  font-size: 13px;
}
#cows {
  color: #9d1c1e;
  font-size: 13px;
}
#dragons {
  color: #ff1e35;
  font-size: 13px;
}
#tigers {
  color: #4d3a2f;
  font-size: 13px;
}
