body,
html {
  width: 100%;
  height: 100%;
  background: gray;
}
.topHeader {
  position: sticky;
  width: 100%;
  height: 100px;

  margin: auto;
  background: red;
}
#shield {
  position: absolute;
  top: 0;
  right: 0;
  /* float: right; */
  /* align-self: right; */
}
#prac {
  position: relative;
  font-size: 100px;
  text-align: center;
  font-family: "Racing Sans One", cursive;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.gridNavbar {
  float: left;
  width: 200px;
  height: 100%;
}

.flexWrapContainer {
  position: initial;
  padding: 0;
  margin: 0;
  display: flex;
  width: 83%;
  height: 100%;
  list-style: none;
}
.flex-item {
  padding: 5px;
  width: 300px;
  height: 404px;
  margin: 5px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  flex-wrap: wrap;
}
li {
  background: olive;
}

#grid1 {
  position: relative;
  width: 200px;
  height: 100%;

  background-image: url("../teams.jpg");
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  .topHeader {
    width: 100%;
    height: 80px;
  }
  #grid1 {
    width: 110px;
  }
  #shield {
    width: 90px;
    height: 80px;
  }
  #prac {
    font-size: 50px;
    left: 0;
    top: 0;
    position: relative;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .topHeader {
    width: 100%;
    height: 90px;
  }
  #grid1 {
    width: 150px;
  }
  #shield {
    width: 170px;
    height: 90px;
  }
  #prac {
    font-size: 66px;
    left: 0;
    top: 0;
    position: relative;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1164px) {
  .topHeader {
    width: 100%;
  }
  #prac {
    font-size: 100px;
  }
}
