@import "./modal.css";
@import "./fadeEffect.css";
@import "./navbar.css";
@import "./legend.css";

* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  height: 100vh;
  background: #e7d3bb;
}

/* #shield {
  position: absolute;
  top: 0;
  right: 0;
  /* float: right; */
/* align-self: right; 
} */
/* #prac {
  position: relative;
  font-size: 100px;
  text-align: center;
  font-family: "Racing Sans One", cursive;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
} */

.container {
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  visibility: hidden;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 75px;
  background: rgba(0, 0, 0);
}
.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}
.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;

}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
section#one{
  background: url('../pics/unsplash1.jpg') no-repeat center center/cover;
}
section#two{
  background: url('../pics/unsplash2.jpg') no-repeat center center/cover;
}
section#three{
  background: url('../pics/unsplash4.jpg') no-repeat center center/cover;
}
section#four{
  background: url('../pics/unsplash3.jpg') no-repeat center center/cover;
}
.gridNavbar {
  position: absolute;
  width: 200px;
  height: 600px;
  float: left;

  background-image: url("../pics/teams.jpg");
  opacity: 0.75;
}
.colTwo {
  background: #96ceb4;
}
.changeFontColorOver {
  color: #e45219;
}

.slideshowContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7px;
  width: 711px;
  height: 400px;
  position: relative;
  top: -210px;

  left: 354px;
}
#premiershipTable {
  background: transparent;
  width: 100%;
  height: 195px;
  position: absolute;

  left: 363px;
  top: 521px;
}
.pie-chart {
  background: radial-gradient(
      circle closest-side,
      white 0,
      white 27.52%,
      transparent 27.52%,
      transparent 64%,
      white 0
    ),
    conic-gradient(
      from 143deg,
      #4e79a7 0,
      #4e79a7 18.9%,
      #f28e2c 0,
      #f28e2c 32.4%,
      #e15759 0,
      #e15759 45.9%,
      #76b7b2 0,
      #76b7b2 55.8%,
      #59a14f 0,
      #59a14f 63%,
      #edc949 0,
      #edc949 70.2%,
      #af7aa1 0,
      #af7aa1 75.6%,
      #ff9da7 0,
      #ff9da7 79.2%,
      #9c755f 0,
      #9c755f 82.8%,
      #bab0ab 0,
      #bab0ab 85.5%,
      #253a50 0,
      #253a50 88.2%,
      #954f09 0,
      #954f09 90.9%,
      #9d1c1e 0,
      #9d1c1e 92.7%,
      #3c726e 0,
      #3c726e 94.5%,
      #2a4b25 0,
      #2a4b25 96.3%,
      #a68510 0,
      #a68510 97.2%,
      #6a405f 0,
      #6a405f 98.1%,
      #ff1e35 0,
      #ff1e35 99%,
      #4d3a2f 0,
      #4d3a2f 99.9%
    );
  position: absolute;
  width: 750px;
  height: 195px;
  margin: 0;
  top: 0;
}

.pie-chart cite {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  padding: 1rem;
  color: gray;
}
.pie-chart figcaption {
  position: absolute;

  right: 1em;
  top: 15px;
  text-align: right;
}
.pie-chart span:after {
  display: inline-block;
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.4em;
  height: 0.8em;
  border-radius: 0.2em;
  background: currentColor;
}

#teams {
  width: 800px;
  height: 100px;
  left: 137px;
  margin: 5px;
  display: flex;
  visibility: hidden;
  position: relative;
  background: white;
  z-index: 1;
  transform: scale(0.7);
}
#team2 {
  width: 800px;
  height: 100px;
  left: 137px;
  margin: 5px;
  display: flex;
  visibility: hidden;
  position: relative;
  background: white;
  z-index: 1;
  transform: scale(0.7);
}

.tableHeader {
  text-align: left;
  position: relative;
  font-family: "Faster One", cursive;
  font-size: 20px;
  left: 15px;
}

.footerContainer {
  width: 100%;
  position: relative;
  height: 150px;
  background: dodgerblue;
  top: 0px;
  left: 0px;
}
p {
  color: #fff;
  margin: 5px;
  line-height: 17px;
  position: relative;
  font-size: 13px;
  font-family: "Gochi Hand", cursive;
  /* background: #6a405f; */
}
.two {
  position: relative;
  overflow: scroll;
  grid-column: 2;
  /* background: gold; */
  width: 356px;
}
#nrl {
  position: absolute;
  width: 150px;
  height: 150px;
}

/* @media only screen and (min-width: 320px) and (max-width: 599px) {
  body,
  html {
    width: 100%;
  }
  .topHeader {
    width: 100%;
    height: 80px;
  }
  .gridNavbar {
    width: 130px;
  }
  .slideshowContainer {
    width: 133px;
    left: 141px;
  }
  .column {
    width: 133px;
    height: 350px;
    /* position: inherit; */
  }
  #premiershipTable {
    width: 133px;
    left: 148px;
    position: absolute;
  }
  .pie-chart {
    width: 279px;
    left: 3px;
    top: -41px;
    position: absolute;
  }
  .tableHeader {
    font-size: 6px;
  }
  .slides1,
  .slides2,
  .slides3,
  .slides4,
  .slides5 {
    position: absolute;
    width: 133px;
    height: 350px;
  }
  #shield {
    width: 90px;
    height: 80px;
  }
  .pie-chart figcaption {
    font-size: 3px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  body,
  html {
    width: 100%;
  }
  .topHeader {
    width: 100%;
    height: 80px;
  }
  .gridNavbar {
    width: 130px;
  }
  .slideshowContainer {
    width: 583px;
    left: 141px;
  }
  .column {
    width: 287px;
    height: 350px;
    /* position: inherit; */
  }
  #premiershipTable {
    width: 133px;
    left: 148px;
    top: 510px;
    position: absolute;
  }
  .pie-chart {
    width: 583px;
    left: 3px;
    top: -41px;
    position: absolute;
  }
  .tableHeader {
    font-size: 6px;
  }
  .slides1,
  .slides2,
  .slides3,
  .slides4,
  .slides5 {
    position: absolute;
    width: 287px;
    height: 350px;
  }
  #shield {
    width: 90px;
    height: 80px;
  }
  .pie-chart figcaption {
    font-size: 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1164px) {
  .topHeader {
    width: 100%;
  }
} */
